matplotlib==2.2.2
mysql-connector-python==8.0.17
numpy==1.15.0
openpyxl==2.6.1
pandas==0.23.4
PyInstaller==3.4
pylint==2.0.1
pyparsing==2.2.0
PyQt5==5.12.3
PyQt5-sip==4.19.17
PyQtWebEngine==5.12.1
pywin32==224
pywin32-ctypes==0.2.0
scipy==1.2.1
xlrd==1.2.0
